/* src/PopupCard.css */
.popup-card {
  position: fixed;
  width: 280px;
  height: 300px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* src/MainContent.css */
.main-content {
  padding: 20px;
}

.hover-link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
