@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Source Sans Pro";
  background: #f8fdff;
}

.heading {
  color: #003b79;
  font-family: "Source Sans Pro";
  font-size: 50px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px; /* 144.444% */
}
.review {
  margin: 0 auto;
  width: 80%;
}

.review-container {
  width: 1440px;
  flex-shrink: 0;
  width: 90%;
  margin: 0 auto;
}
.text {
  color: #002348;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  height: 100px;
  margin-bottom: 10px;
}
.name {
  color: #002348;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.role {
  color: #002348;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
.circle {
  position: absolute;
  bottom: 100px;
  right: -100px;
  width: 201px;
  height: 201px;
  border-radius: 301px;
  border: 44px solid #629fb709;
  box-shadow: 0px 10px 50px 12.5px rgba(0, 59, 121, 0.07);
}
.subscribe-box {
  border-radius: 20px;
  background: #007ff4;
  width: 85%;
  margin: 0 auto;
  padding: 2rem;
  /* height: 30vh; */

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  color: #fff;
}
.subscribe-heading {
  font-size: 44px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px; /* 162.5% */
  text-align: center;
}
.subscribe-content {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.subscribe-input-container {
  margin-top: 2rem;
}
@media screen and (max-width: 1058px) {
  .subscribe-box {
    background: #007ff4;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
  }
}
@media screen and (max-width: 600px) {
  .subscribe-box {
    font-size: 40px;
  }
}


/* layout */

.market-swipper-img {
	height: 300px;
}

.market-swipper-thumbnail {
	height: 100px;
}

/*  */
.market-swipper-thumb-container .swiper-slide {
	opacity: 0.4;

}

.market-swipper-thumb-container .swiper-slide-thumb-active {
	opacity: 1;
}

