@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Source Sans Pro";
  background: #f8fdff;
}

.heading {
  color: #003b79;
  font-family: "Source Sans Pro";
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: 78px; /* 144.444% */
}
.review {
  background: #f8fdff;
  max-width: 2000px;
}

.review-container {
  width: 1440px;
  height: 550px;
  flex-shrink: 0;
  width: 90%;
  margin: 0 auto;
}
.text {
  color: #002348;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.name {
  color: #002348;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.role {
  color: #002348;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 8px;
}
.circle {
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  right: 10px;
  width: 251px;
  height: 251px;
  flex-shrink: 0;

  border-radius: 301px;
  border: 50px solid #fff;
  box-shadow: 0px 10px 50px 12.5px rgba(0, 59, 121, 0.07);
}
